{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Cliente</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Lista de Clientes</a>
        </li>
    </ul>
{% endblock %}
